<!-- pages/templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<h1>About page</h1>

<section>
      <article>
         <h2>A few Intersting Facts About Me</h2>

         <p>There's nothing I enjoy more than traveling and immersing myself in the
           cultures of people of other nations. I've come to love traveling so much,
           that the only items on my "Bucket List" are:
           </p>

        <p>1. Visit all 50 states in the USA -- So far, I've visited 26 out of the
           50 states. I'm more than half way to my goal!
           </p>

        <p>2. Visit all 7 continents -- I've got 6 continents down already! Now the
          challenge is figuring out how in the world I'm going to get to Antarctica.
          </p>

        <p>3. Live abroad for 1 year -- While visiting the city of Bourdeaux,
          France to explore my heritage and the birthplace of my great grandfather,
          I fell in love with its beauty and the simplicity of life in the surrounding
          villages. It was on this trip that I decided to make it a goal of mine
          to be able to call Bourdeaux home, someday.
          </p>
{% endblock content %}
